<launch>
<param name="robot_description"
command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />"
<group ns="agent4">
<param name="tf_prefix" value="agent4_tf" />
<include file="$(find multi_robot)/launch/one_agent.launch" >
<arg name="init_pose" value="-x -7 -y -1 -z 0 -Y 5.13" />
<arg name="agent_name"  value="agent4" />
</include>
</group>

</launch>